@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(35,35,85);
}
span{
    font-size: 0.9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color:rgb(24,24,49);
}
/* index.html    */
/* Navigation */
nav{
    position: fixed;
    width:100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    /* box-shadow: 2px 2px 10px red; */
    z-index: 999;
}
nav img {
    width:100px;
    cursor: pointer;
}
nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
nav .navigation ul li {
    list-style: none;
    color:white;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
}


#menuBtn{
    width:30px;
    height:30px;
    display: none;
}
#menuClose{
    display: none;
}
nav .navigation ul li a.active ,
nav .navigation ul li a:hover{
    color:#FDC93B;
    transition: 0.3s ease;
}
/* Home */
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("mI.jpg");
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    /* color:white; */
}
#home h2{
    color:white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width:50%;
    color:white;
    font-size: 0.9rem;
    line-height: 25px;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#home .btn {
    margin-top: 30px;
}

#home a.blue{
    color:white;
    background-color: rgb(21,21,100);
    transition: 0.7s ease;
}
#home a.blue:hover{
    color: rgb(21,21,100);
    background-color: white;
}

#home a.yellow{
    color:black;
    background-color: rgb(253, 253, 43);
    transition: 0.7s ease;
}
#home a.yellow:hover{
    color: black;
    background-color: white;
}

/* garduation    */
#features{
    padding:5vw 8vw 0 8vw;
    text-align: center;
}
#features .feaBase{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    padding:5px;
   
}
#features .feaBox{
    background-color: #dfdfeb;
    /* opacity: 0.6; */
    text-align: start;
    padding:15px;
    height:240px;
    border-radius: 15px;
}
#features .feaBox h3{
    font-size: 1.2rem;
    font-weight: 600;
    color:rgb(46,46,59);
    padding: 13px 0 7px 0;
}
#features .feaBox p{
    font-size: 1rem;
    font-weight: 400;
    color:rgb(70,70,87);
}

/* Course   */
#coures{
    padding:8vw 8vw 0 8vw;
    text-align: center;
}
#course h1{
    margin: 30px auto 10px 470px;
}
#course p{
    margin: 7px auto 10px 426px;
}
#course .courseBox{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:10px;
}
#course .courses{
    text-align: start;
    background-color: #F9F9FF;
    height: 100%;
}
#course .courses img{
    height:60%;
    background-size:cover ;
    background-position: center;
}
#course .courses{
    margin-left: 5px;
    border-radius: 10px;
    background-color: #eaeaf0;
    padding-left: 20px;
    padding-top: 20px;
}
#course .courses .details{
    padding:15px 15px 0 15px;
}
#course  .cost{
    background-color: rgb(74,74,136);
    color:#fff;
    line-height: 70px;
    width:70px;
    height:70px;text-align: center;border-radius: 50%;
    position: relative;left:250px;top:-150px;
}

/* Registration  */
#registration{
    padding:8vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)),url("reg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration .reminder{
    color:#fff;
}
#registration .reminder h1{
    color:#fff;
}
#registration .reminder .time{
    display: flex;
    margin-top: 40px;
}
#registration .reminder .time .date{
    text-align: center;
    padding: 13px 35px;
    background-color: rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px0 rgba(31,38,135,0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 2px solid rgba(255,255,255,0.18);
    font-size: 1.1rem;
    font-weight: 600;
}
#registration .form {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37) ;
}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84,40,241);
    outline: none;
}
#registration .form .btn .yellow{
   margin-top: 20px;
   margin-left: 32px;
}
#registration .form .btn .yellow{
    color: #fff;
    background-color: #FDC93B;
    transition: 0.3s ease;
    text-decoration: none;
    width:150px;height:70px;
    border-radius: 5px;
    background-color: #d55252;
    font-weight: 600;
    padding: 13px 35px;
    font-size: 1rem;
}
#registration .form .btn .yellow:hover{
    color: rgb(13, 13, 15);
    background-color: #b0aaab;
}
#registration .form  input::placeholder{
    color:#413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}
#experts{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}
#experts .expertBox{
   display:grid ;
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   grid-gap:1rem;
   margin-top: 50px;
}
#experts .expertBox .profile{
    background-color: #ededec;
    padding:30px 10px;border-radius: 10px;
}
.proLinks{
    margin-top: 10px;
}
.proLinks img{
    cursor: pointer;
}

/* Footer   */
footer{
    margin-top: 110px;
    padding:8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color:white;
}
footer .footerCol{
    padding-bottom: 40px;
}
footer h3{
    color:rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color:#7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
}
footer li:hover{
    color:white;
} 
footer p{
    color:#7b838a;
}
footer .subscribe{
    margin-top: 20px
}
footer input{
    width:220px;
    padding: 15px 12px;
    background-color: #334F6C;
    border:none;
    color:white ;
}
footer .subscribe a{
   
        text-decoration: none;
        font-size: 0.9rem;
        padding: 13px 35px;
        background-color: white;
        font-weight: 600;
        border-radius: 5px;
    }
    footer .btn {
        margin-top: 30px;
    }
    
    footer a.blue{
        color:white;
        background-color: rgb(21,21,100);
        transition: 0.7s ease;
    }
    footer a.blue:hover{
        color: rgb(21,21,100);
        background-color: white;
    }
    
    footer .subscribe a.yellow{
        color:white;
        background-color: rgb(245, 78, 37);
        transition: 0.7s ease;
    }
    footer .subscribe a.yellow:hover{
        color: black;
        background-color: white;   
}
footer .copyright{
    margin-top: 20px;
}
footer .copyright p{
    color:white;
}


/*  Home   */
#aboutHome{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("mI.jpg");
    width:100%;
    height:60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    color:white;
    }
    #aboutHome h1{
      color:white;
      font-size: 2.2rem;
      letter-spacing: 1px;
    }
    #aboutContainer{
        display:flex ;
        align-items: center;
        padding: 8vw 8vw 2vw 8vw;
    }
    #aboutContainer .aboutImg{
       width:60%;
       padding-right: 60%;
    }
    #aboutContainer .aboutText{
        width: 40%;
        margin-left: 50px;
    }
    #aboutContainer .aboutText h2{
        color:#29303B;
        padding-bottom: 15px;
    }
    #aboutContainer .aboutText p{
        color: #686F7A;
        font-weight: 300;
    }
    #aboutContainer .aboutText  .aboutFe{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }
    #aboutContainer .aboutText  .aboutFe img {
        width:50%;
        background-size: cover;
        background-position: center;
        margin-right: 20px
    }
    #aboutContainer .aboutText  .aboutFe .feText{
        width: 90%;
    }
    #aboutContainer .aboutText  .aboutFe .feText h5{
        font-size: 16px;
        color:#29303B;
    }


/* Blog    */

#blogContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}
#blogContainer .blogs{
    width:90%;
}
#blogContainer .blogs .post{
    padding-bottom: 60px;
}

#blogContainer .blogs .post h3{
    color:#29303B;
    padding: 15px 0 10px 0;   
}
#blogContainer .blogs .post p{
    color:#757373;
    padding-bottom: 20px ;   
    text-align: start;
    padding-right:280px;
}
#blogContainer .blogs .post a{
    text-decoration:none;
    font-size: 0.9rem ;
    padding: 13px 35px;
    background-color: rgb(21,21,100);
    color:white;border-radius: 5px;
}
#blogContainer .blogs .post a:hover{
    color:black;
    background-color: rgb(109, 225, 100);
    transition: 0.4s ease;font-weight: 600;
}

#blogContainer .cate{
    width:30%;
}
#blogContainer .cate h2{
    padding-bottom: 7px;
}
#blogContainer .cate a{
    text-decoration: none;
    color:#757373;
    font-weight: 500;
    line-height: 45px;
}
#blogContainer .blogPost{
    width: 60%;
    margin: 0 auto;
}
#blogContainer .blogPost p{
    text-align: justify;
    padding-bottom: 60px !important;
}


/* Cousrse Inner  */
#courseInner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw ;
}
#courrseInner .overview{
   width: 66%;
}

#courseInner .overview .courseImg{
    width:88%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
#courseInner .overview .courseHead{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#courseInner .overview .courseHead .cName{
    width: 70%;
}
#courseInner .overview .courseHead .cName h2{
    color:#29303b;
}
#courseInner .overview .courseHead .cName p{
    font-size: 15px;
}
#courseInner .overview .courseHead  span{
    padding: 16px 13px;
    color:#5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88,56,252,0.1);
    border-radius: 5px;
    margin-right: 190px;
}

#courseInner .learn p{
   font-size: 15px;
   padding-bottom: 15PX;
}

#courseInner .tutor{
    display: flex;
}


#courseInner .tutor img{
    width: 70px;
    height:70px;
    border-radius: 50%;
    margin-right:20px;
}

#courseInner .tutor h5{
    font-size: 15px;

}
#courseInner h3{
    padding: 35px 0 25px 0;
    color:#29303B;
}
#courseInner p {
    color:#64626e;
}

#courseInner hr {
    height: 1px;
    background-color: rgba(236,226,229,0.5);
    margin-top: 40px;
}

#courseInner .enroll{
   width:990px;
   padding: 0 30px 10px 30px;
   border-radius: 11px;
   box-shadow: 0 20px 40px 0 rgba(11 2 55/8%);
}
#courseInner .enroll h3{
    padding-bottom: 10px;
}

#courseInner .enroll p{
    font-size: 15px;
    color:#64626e;
    margin: 15px 0;
}

#courseInner .enroll .enrollBtn{
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
}
#courseInner .enroll .enrollBtn a{
    text-decoration: none;
    font-size: 0.8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(50,50,136);
}
#courseInner .enroll .enrollBtn a:hover{
    background-color: red;
    transition: 0.5s ease ;
    color:black;
    font-size: 14px;
}

/* contact  */
#contact{
   padding: 8vw;
   display: flex ;
   justify-content: space-between;
   align-items: flex-start;
}

#contact .getIn{
    width: 350px;
}

#contact .getIn h2{
    color:#2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getIn p{
    color:#686875;
    line-height: 24px;
    margin-bottom: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getIn h3 {
    color:#2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}
#contact .getIn  .getinDetails div{
    display: flex;
}
#contact .getIn  .getinDetails div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}
#contact .getIn  .getinDetails img{
    line-height: 22px;
    color:#5838fc;
    margin-right: 20px;
}
#contact .form{
    width: 60%;
    background-color: #e2deec;
    padding: 40px;
    border-radius: 10px;
}
#contact .form h4{
    font-size: 24px;
    color:#2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}
#contact .form p{
    color:#686875;
    line-height: 24px;
    padding-bottom: 25px;
}
#contact .form .formRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .formRow input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color:#7e7c87;
    outline: none;
    padding:20px 30px;
    margin-bottom: 20px;
}


#contact .form .formCol input ,
#contact .form .formCol textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color:#7e7c87;
    outline: none;
    padding:20px 30px;
    margin-bottom: 20px;
}

#contact .form button{
    font-size:0.9rem;
    padding:13px 25px;
    background-color: rgb(21,21,100);
    border-radius: 5px;
    outline:none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color:#fff;
} 
#map{
    width:100%;
    height: 70vh;
    margin-bottom: 8vw;
}
#map iframe{
   width: 100%;
   height: 100%;
}

/* responsiveness */


@media (max-width:769px){
    nav{
        padding:15px 20px ;
    }
    nav img{
       width: 130px;
    }
    #menuBtn{
        display: initial;
    }
    #menuClose{
        display: initial;
        font-size: 1.6rem;
    }
    nav .navigation ul{
        position: absolute;
        top:0;
        right: -150px ;
        width:220px;
        height: 100vh;
        background-color: black;
        backdrop-filter: blur(4.5px);
        border:1px solid rgba(255,255,255,0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease ;
    }
    nav .navigation ul.active{
       right:0;
    } 

    nav .navigation ul li{
        padding:20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color:white ;
    }
    #home{
        padding-top: 0px;
    }
    #home p{
        width:90%;
    }
    #features{
        padding:8vw 4vw 0 4vw;
    }
    #course{
        padding:8vw 4vw 0 4vw;
    }
    #registration{
        padding:6vw 4vw 6vw 4vw;
        margin-top: 8vw;
    }
    #registration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #experts{
        padding:8vw 8vw 4vw 8vw;
        text-align: center;
    }
    footer .copyright .proLinks{
        margin-top: 15px;
    }
    #aboutContainer{
        padding: 8vw 4vw 2vw 4vw ;
    }
    #aboutContainer .aboutImg{
       padding-right: 30px;
    }

    /* Blog  */
    #blogContainer{
        padding: 8vw 4vw;
    }
    #blogContainer .blogs .post img{
        width:30%;
    } 
    
    /* Post  */
    #blogContainer .blogPost{
        width: 100%;
        margin-top: 30px ;
    }
    #blogContainer .blogPost img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}





@media (max-width:475px){
    #registartion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #registration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* About  */

    #aboutContainer{
        flex-direction: column-reverse;
    }
    #aboutContainer .aboutImg{
        width: 100%;
        padding-right: 0;
    }
    #aboutContainer .aboutText{
        width: 100%;
        padding-bottom: 20px;
    }

    /* Blogs  */
    #blogContainer{
        flex-direction: column;
    }
    #blogContainer .blogs{
        width:100%;
    }
    #blogContainer .cate{
        width:100%;
    }

    #blogContainer .blogPost{
        width: 100%;
        margin-top: 70px ;
    }
    #blogContainer .blogPost img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

@media (max-width:376px){
    footer input{
        width:100%;
        margin-bottom: 20px;
    }
   
}


